.App {
  text-align: center;
}

#bord{
  margin-top: 100%;
  color: gray;
  opacity: 0.4;
}

#search{
  margin-left: 10%;
}

.inscrire{
  background-image: url(./assets/image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color:#282c34;
  opacity: 3;

}

@media (max-width: 768px) {
  .inscrire{
    height: auto;
    width: 100%;
  
  }
}